{% extends "core/base.html" %}

{% block title %}Portfolio{% endblock %}

{% block content %}

<div class="main-menu">
  {% if project_list %}
    <ul>
    {% for project in project_list %}
    <li class="nav-item">
      <h2>
        <a class="nav-link" href="{% url 'portfolio:single_project' slug=project.slug %}">
          {{ project.title }}<span class="path">/</span>
        </a>
      </h2>
      <p class="summary">{{ project.summary }}</p>
    </li>
    {% endfor %}
    </ul>
  {% else %}
    <h1 class="title">Projects</h1>
    <p class="description">Coming soon</p>
  {% endif %}
</div>
{% endblock %}
