{% extends "core/base.html" %}

{% block title %}{{ project.title }}{% endblock %}

{% block content %}
<h1 class="title">
  {% if project.live_url != "" %}
    <a href="{{ project.live_url }}">{{ project.title }}</a>
  {% endif %}
</h1>
<p class="summary">{{ project.summary }}</p>
<div class="project-links">
    <a class="project-link" href="{{ project.repo_url }}"><i class="fa-brands fa-github"></i></a>
  {% if project.live_url != "" %}
    <a class="project-link" href="{{ project.live_url }}"><i class="fa-solid fa-globe"></i></a>
  {% endif %}
</div>
<div class="description">{{ project.description|linebreaks }}</div>
{% endblock %}
