{% extends "core/base.html" %}

{% block title %}{{ blog_post.title }}{% endblock %}

{% block content %}
<h1 class="title">{{ blog_post.title }}</h1>
<p class="summary">{{ blog_post.summary }}</p>
<div class="intro">{{ blog_post.intro|linebreaks }}</div>
<section class="tags">
  {% for tag in blog_post.tags.all %}
    <a class="tag" href="{% url 'blog:blog_tag' tag.slug %}">{{ tag.name }}</a>
  {% endfor %}
</section>
{% for paragraph in blog_post.paragraphs %}
  <section class="paragraph-section">
    <h2 class="heading">{{ paragraph.heading }}</h2>
    <p class="paragraph">{{ paragraph.text }}</p>
    {% for snippet in paragraph.snippets %}
      <section class="snippet-section">
        {% if snippet.intended_location %}
          <h1 class="snippet-intendet-location">{{ snippet.intended_location }}</h1>
        {% endif %}
        {% if snippet.snippet|length > 100 %}
          <code class="snippet scroll">{{ snippet.snippet }}</code>
        {% else %}
          <code class="snippet">{{ snippet.snippet }}</code>
        {% endif %}
        <p class="snippet-description">{{ snippet.description }}</p>
      </section>
    {% endfor %}
  </section>
{% endfor %}
{% endblock %}
