{% extends "core/base.html" %}

{% block title %}Portfolio{% endblock %}

{% block content %}

{% if tags %}
  <nav id="tags-nav">
    <i id="tags-menu-button" class="fa-solid fa-tag tags-menu-button"></i>
    {% if tag %}
      <h1 class="tag">{{ tag.name }}</h1>
      <a class="remove-tag-filter" href="{% url 'blog:blog_posts' %}">
        <i class="fa-solid fa-xmark"></i>
      </a>
    {% endif %}
    {% include "blog/_tag_links.html" %}
  </nav>
{% endif %}
<div class="main-menu">
  {% if blog_post_list %}
    <ul>
    {% for blog_post in blog_post_list %}
    <li class="nav-item">
      <h2>
        <a class="nav-link" href="{% url 'blog:single_blog_post' slug=blog_post.slug %}">
          {{ blog_post.title }}<span class="path">/</span>
        </a>
      </h2>
      <p class="intro">{{ blog_post.intro }}</p>
    </li>
    {% endfor %}
    </ul>
  {% else %}
    <h1 class="title">Blog</h1>
    <p class="description">Coming soon</p>
  {% endif %}
</div>
{% endblock %}
