:root {
  --black: #282828;
  --black-bright: #928374;
  --red: #cc241d;
  --red-bright: #fb4934;
  --green: #98971a;
  --green-bright: #b8bb26;
  --yellow: #d79921;
  --yellow-bright: #fabd2f;
  --blue: #458588;
  --blue-bright: #83a598;
  --purple: #b16286;
  --purple-bright: #d3869b;
  --cyan: #689d6a;
  --cyan-bright: #8ec07c;
  --white: #a89984;
  --white-bright: #ebdbb2;
  --orange: #fe8019;
  --orange-bright: #fe8019;
  --dim: #504945;
  --dim-bright: #807670;

  --background: var(--black);
  --foreground: var(--white-bright);
  --primary: var(--yellow);
  --secondary: var(--green);
  --accent: var(--cyan);
}

* {
  background: var(--background);
  color: var(--foreground);
  text-decoration: none;
}
