/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Cairo+Play:wght@700&family=JetBrains+Mono:wght@400;700&display=swap");

:root {
  --black: #282828;
  --black-bright: #928374;
  --red: #cc241d;
  --red-bright: #fb4934;
  --green: #98971a;
  --green-bright: #b8bb26;
  --yellow: #d79921;
  --yellow-bright: #fabd2f;
  --blue: #458588;
  --blue-bright: #83a598;
  --purple: #b16286;
  --purple-bright: #d3869b;
  --cyan: #689d6a;
  --cyan-bright: #8ec07c;
  --white: #a89984;
  --white-bright: #ebdbb2;
  --orange: #fe8019;
  --orange-bright: #fe8019;
  --dim: #504945;
  --dim-bright: #807670;

  --background: var(--black);
  --foreground: var(--white-bright);
  --primary: var(--yellow);
  --secondary: var(--green);
  --accent: var(--cyan);
}

* {
  background: var(--background);
  color: var(--foreground);
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

*:focus-visible {
  outline: var(--primary) solid 1px;
  outline-offset: 1px;
}

*::selection {
  background: var(--foreground);
  color: var(--background);
}

main {
  font-family: "JetBrains Mono", monospace;
  padding: 0 2em;
}

a {
  transition: ease 0.35s;
}

a:hover,
a:focus {
  color: var(--primary);
}

a::selection {
  background: var(--primary);
  color: var(--background);
}

.row {
  display: flex;
  flex-direction: row;
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0 1em 0.5em;
  padding: 0.5em 1em;
  border-bottom: 1px solid var(--dim);
}

.home-link {
  font-family: "Cairo Play", sans-serif;
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1em;
}

.nav-links .path {
  display: none;
}

.nav-link {
  font-family: "JetBrains Mono", monospace;
  color: var(--dim-bright);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--primary);
}

/* BREADCRUMB */

.breadcrumb {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 1.5rem;
}

.user-host {
  color: var(--green-bright);
}

.user-host::selection {
  background: var(--green-bright);
  color: var(--background);
}

.path {
  color: var(--blue-bright);
}

.path::selection {
  background: var(--blue-bright);
  color: var(--background);
}

/* MAIN */

.main-menu .nav-item {
  margin-top: 1.5rem;
}

.main-menu .nav-link,
.title {
  color: var(--foreground);
  font-size: 1.5rem;
  font-weight: bold;
}

.main-menu .nav-link {
  transition: ease 0.35s;
}

.main-menu .nav-link:hover,
.main-menu .nav-link:focus {
  color: var(--primary);
}

.main-menu .summary,
.summary,
.description {
  font-size: 1.5rem;
  font-weight: normal;
  padding-left: 2ch;
}

.main-menu .summary {
  color: var(--dim-bright);
}

.main-menu .summary::selection {
  background: var(--dim-bright);
  color: var(--background);
}

.description {
  margin-top: 1.5rem;
}
