@import url("https://fonts.googleapis.com/css2?family=Cairo+Play:wght@700&family=JetBrains+Mono:wght@400;700&display=swap");

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* GENERAL */

:root {
  --black: #282828;
  --black-bright: #928374;
  --red: #cc241d;
  --red-bright: #fb4934;
  --green: #98971a;
  --green-bright: #b8bb26;
  --yellow: #d79921;
  --yellow-bright: #fabd2f;
  --blue: #458588;
  --blue-bright: #83a598;
  --purple: #b16286;
  --purple-bright: #d3869b;
  --cyan: #689d6a;
  --cyan-bright: #8ec07c;
  --white: #a89984;
  --white-bright: #ebdbb2;
  --orange: #fe8019;
  --orange-bright: #fe8019;
  --dim: #504945;
  --dim-bright: #807670;

  --background: var(--black);
  --foreground: var(--white-bright);
  --primary: var(--yellow);
  --secondary: var(--green);
  --accent: var(--cyan);
}

* {
  background: var(--background);
  color: var(--foreground);
}

*:focus-visible {
  outline: var(--primary) solid 1px;
  outline-offset: 1px;
}

*::selection {
  background: var(--foreground);
  color: var(--background);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  font-family: "JetBrains Mono", monospace;
  padding: 0 2em;
  margin-bottom: 1rem;
}

a:hover,
a:focus {
  color: var(--primary);
}

a::selection {
  background: var(--primary);
  color: var(--background);
}

.row {
  display: flex;
  flex-direction: row;
}

.navbar,
.footer {
  padding: 0.5em 1em;
  margin-left: 1em;
  margin-right: 1em;
}

.navbar {
  margin-bottom: 0.5em;
}

.main-content {
  margin-left: 1em;
}

.social-media-links {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.footer {
  margin-top: 0.5em;
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--dim);
}

.home-link {
  font-family: "Cairo Play", sans-serif;
  display: flex;
  align-items: center;
}

.home-link:hover,
.home-link:focus {
  color: inherit;
}

.navbar nav {
  display: flex;
  align-items: center;
  gap: 1em;
}

.navbar .nav-menu {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.navbar .path {
  display: none;
}

.nav-link {
  font-family: "JetBrains Mono", monospace;
  color: var(--dim-bright);
  transition: ease 0.35s;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--primary);
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: ease 0.35s;
  transition: ease 0.35s;
  background-color: var(--green-bright);
}

@media only screen and (max-width: 768px) {
  .navbar .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    padding-left: 2ch;
    padding-bottom: 100%;
    transition: ease 0.35s;
  }

  .hidden {
    display: none !important;
  }

  .navbar .nav-menu.active {
    left: 0;
  }

  .navbar .nav-item {
    margin-top: 1.5rem;
  }

  .navbar .nav-link {
    color: var(--foreground);
    font-size: 1.5rem;
    font-weight: bold;
  }

  .navbar .nav-link:hover,
  .navbar .nav-link:focus {
    color: var(--primary);
  }

  .navbar .path {
    display: inline;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .hamburger.active:hover .bar,
  .hamburger.active:focus .bar {
    background-color: var(--red);
  }
}

/* BREADCRUMB */

.breadcrumb {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 1.5rem;
}

.user-host {
  color: var(--green-bright);
}

.user-host::selection {
  background: var(--green-bright);
  color: var(--background);
}

.path {
  color: var(--blue-bright);
  word-wrap: break-word;
}

.path::selection {
  background: var(--blue-bright);
  color: var(--background);
}

/* MAIN */

.main-menu .nav-item {
  margin-top: 1.5rem;
}

.main-menu .nav-link,
.title {
  color: var(--foreground);
  font-size: 1.5rem;
  font-weight: bold;
}

.title a {
  transition: ease 0.35s;
}

.main-menu .nav-link:hover,
.main-menu .nav-link:focus {
  color: var(--primary);
}

.main-menu .summary,
.summary,
.description,
.main-content .social-media-link,
.project-link {
  font-size: 1.5rem;
  font-weight: normal;
  padding-left: 2ch;
}

.main-menu .summary {
  color: var(--dim-bright);
}

.main-menu .summary::selection {
  background: var(--dim-bright);
  color: var(--background);
}

.description,
.project-links,
.main-content .social-media-links {
  margin-top: 1.5rem;
}

.main-content .social-media-link i,
.project-link i {
  transition: ease 0.45s;
  color: var(--blue-bright);
}

.main-content .social-media-link i:hover,
.main-content .social-media-link i:focus,
.project-link i:hover,
.project-link i:focus {
  color: var(--primary);
  transform: rotate(360deg);
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "JetBrains Mono", monospace;
  font-size: 1rem;
  margin-top: auto;
  border-top: 1px solid var(--dim);
}

.footer p,
.footer a,
.footer i {
  color: var(--dim-bright);
}

.footer i {
  transition: ease 0.35s;
}

.footer i:hover,
.footer i:focus {
  color: var(--primary);
}

.footer .social-media-link {
  font-size: 1.25rem;
}

.footer .hidden {
  color: var(--background);
}

@media only screen and (max-width: 768px) {
  .footer .hidden {
    display: none;
  }
}
