<footer class="footer">
  <p class="copyright">© {% now "Y" %} {{ site_owner }}</p>
  <ul class="social-media-links">
    {% for sm in social_media_links %}
    <li class="social-media-item">
      <a class="social-media-link" href="{{ sm.url }}">
        {% if sm.social_media == "gh" %}
        <i class="fa-brands fa-github"></i>
        {% elif sm.social_media == "in" %}
        <i class="fa-brands fa-linkedin-in"></i>
        {% elif sm.social_media == "fb" %}
        <i class="fa-brands fa-facebook"></i>
        {% elif sm.social_media == "ig" %}
        <i class="fa-brands fa-instagram"></i>
        {% elif sm.social_media == "yt" %}
        <i class="fa-brands fa-youtube"></i>
        {% endif %}
      </a>
    </li>
    {% endfor %}
  </ul>
  <p class="hidden">© {% now "Y" %} {{ site_owner }}</p>
</footer>
