<ul class="nav-menu">
  {% url 'core:index' as index_url %} {% if request.path != index_url %}
  <li class="nav-item">
    <a class="nav-link" href="{{ index_url }}">Home<span class="path">/</span></a>
  </li>
  {% endif %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'portfolio:projects' %}">Portfolio<span class="path">/</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'blog:blog_posts' %}">Blog<span class="path">/</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'core:about' %}">About<span class="path">/</span></a>
  </li>
</ul>
