{% load static %}
{% load suffix %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    {% filter suffix:" | " %}{% block title %}{% endblock %}{% endfilter %}{{ domain_name }}
  </title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
  <script src="{% static 'core/js/responsive.js' %}" defer></script>
  <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
  {% include "core/_header.html" %}

  <main>
    <h1 class="breadcrumb">
      <span class="user-host">guest@{{ domain_name|lower }}</span>:<span
        class="path">~{{request.path}}</span>
    </h1>
    {% block content %}{% endblock %}
  </main>

  {% include "core/_footer.html" %}
</body>

</html>
